.homepage-container2 {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/images/poke.png);
  background-size: cover;
}

@media (max-width: 450px) {
  .homepage-container2 {
    background-image: url(./assets/images/pokemobiledos.png);
  }
}
