.homepage-container {
  display: flex;
  height: 93vh;
  width: 100vw;
  background-image: url(./assets/images/pokehome2.png);
  background-size: cover;
}

.left-container-login {
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-container {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-container h1 {
  text-align: center;
}

.choose-game form {
  display: flex;
  flex-direction: column;
}
.choose-game form input {
  margin-bottom: 3vh;
  text-align: center;
  border-radius: 40px;
}

@media (max-width: 450px) {
  .homepage-container {
    flex-direction: column;
    align-items: center;
  }
  .input-login-home {
    margin-bottom: 2vh;
    text-align: center;
  }
  .left-container-home-login {
    justify-content: center;
  }

  .left-container {
    justify-content: center !important;
    flex-direction: column;
    align-items: center;
  }

  .left-container h5 {
    text-align: center;
  }
}
