.pokegotchi-container {
  display: flex;
  height: 92vh;
  width: 100vw;
  background-image: url(./assets/images/pokegotchiYellow.png);
  background-size: cover;
}

.left-container-poke {
  height: 92vh;
  width: 20vw;
}

.central-container-poke {
  height: 92vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-container-poke {
  height: 92vh;
  width: 20vw;
}

.pokemon-name {
  font-size: 2rem;
  font-weight: bold;
}
.pokemon-photo img {
  height: 25vh;
}

.every-stat-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-form-poke {
  display: flex;
  width: 40vw;
  justify-content: center;
}

.div-form-poke form {
  padding-top: 5vh;
}
